


<div class="d-flex bg-warning col-12">
    <div class="p-2 my-flex-item col-12">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <!-- Brand -->
            <a class="navbar-brand" href="#">Logo</a>

            <!-- Links -->
            <ul class="navbar-nav">
<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link" href="#">Link 1</a>-->
<!--                        </li>-->

                <!-- Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        Master
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#!vendor"><i class="fas fa-user-graduate"></i> Vendor</a>
                        <a class="dropdown-item" href="#!customer"><i class="fas fa-user-graduate"></i> Customer</a>
                        <a class="dropdown-item" href="#!product">Product</a>
                    </div>
                </li>
                <!-- Transaction -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        Transaction
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#!purchase"><i class="fas fa-shopping-cart "></i>Purchase</a>
                        <a class="dropdown-item" href="#!production"><i class="fas fa-exchange-alt "></i>Production</a>
                        <a class="dropdown-item" href="#!sale"><i class="fas fa-balance-scale"></i>Sale</a>
                    </div>
                </li>

                <!-- Report -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        Report
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#!salereport"><i class="fas fa-shopping-cart "></i>Sale Report</a>
                        <a class="dropdown-item" href="#!stockreport"><i class="fas fa-exchange-alt "></i>Stock Report</a>
                    </div>
                </li>

            </ul>
        </nav>
    </div>
</div>